.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #2196f3; */
}

.spinner::after {
  content: '';

  width: 50px;
  height: 50px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-top-color: #b92f2c;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

  