// base
@import './base/base';
@import './base/visually-hidden';
@import './base/container';
@import './base/reset';
@import './base/vars';


@import './spinner';

@import './pagination';

// @import '~node_modules/modern-normalize/modern-normalize.css';
// components


@import './components/header-main';

@import './components/header-lib';

@import './components/search';

@import './components/cards';

@import './components/container-lib';


@import './components/modal-aboutMovie';


@import './components/scroll';


@import './components/footer';

@import './components/modal-team.scss';
@import './components/darck-tem';