// base
@import './base/base';
@import './base/visually-hidden';
@import './base/container';
@import './base/reset';
@import './base/vars';


// 




// @import '~node_modules/modern-normalize/modern-normalize.css';

















@import './components/modal-aboutMovie';