<button class="button" data-open-modal="open-modal"></button>

<div class="backdrop">
    <div class="modal-about-movie">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_jSfy5LC5ZHeMBku3a-xkR9tmPgwb4tXqhSAtocRBtQ&s" alt="#" class="images-movie">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus expedita provident, explicabo debitis soluta ipsam quo similique fuga quasi iusto repellendus asperiores dolore aperiam, veritatis quidem omnis in ipsum vitae!</p>

        <button class="btn-modal-close-about-movie" data-close-modal="btn-modal-close-about-movie"></button>
    </div>
</div>