<a class="link-modal" data-open-modal="open-modal">asdf</a>

<div class="backdrop">
    <div class="modal-about-movie">
        <button class="btn-modal-close-about-movie" data-close-modal="btn-modal-close-about-movie"></button>
        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_jSfy5LC5ZHeMBku3a-xkR9tmPgwb4tXqhSAtocRBtQ&s" alt="images-movie" class="images-movie-modal">
        
            <div class="about-movie">
                <h1 class="name-movie">A FISTFUL OF LEAD</h1>
                <div class="characteristics-container">
                    <ul class="characteristics-list">
                        <li class="characteristics-element">
                            <p class="characteristic-text">Vote / Votes</p>
                        </li>                      
                        <li class="characteristics-element">
                            <p class="characteristic-text">Popularity</p>
                        </li>
                        <li class="characteristics-element">
                            <p class="characteristic-text">Original Title</p>
                        </li>
                        <li class="characteristics-element">
                            <p class="characteristic-text">Genre</p>
                        </li>
                    </ul>
                    <ul class="characteristics-value-list">
                        <li class="characteristics-value-element">
                            <p class="characteristics-value-text"><span class="rating-movie">7.3</span><span> / </span>1200</p>
                        </li>
                        <li class="characteristics-value-element">
                            <p class="characteristics-value-text">100.2</p>
                        </li>
                        <li class="characteristics-value-element">
                            <p class="characteristics-value-text">A FISTFUL OF LEAD</p>
                        </li>
                        <li class="characteristics-value-element">
                            <p class="characteristics-value-text">Western</p>
                        </li>
                    </ul>
                </div>
                <p class="about-text">About</p>
                <p class="about-movie-text">
                    Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                     been double crossed – but by who and how?
                </p>

                 <div>
                <button>add to Watched</button>
                <button>add to queue</button> 
            </div>
            </div>
           
            
    </div>
</div>