<div class="modal-devs" id="modal-devs" data-modal>
  <div class="modal-devs__overlay">
    <h1 class="team__title--main">JS-Project-Team-8</h2>
    <ul class="team__name">
      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>

      <!-- students  2 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 3 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students  4 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students  5 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 6 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 7 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 8 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students  9 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students  10 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 11 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 12 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 13 -->
           <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="" alt="Oleksandr"/>
        </div>
        <div class="card">
          <h3 class="team__title">Oleksandr Postryhan</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alex-postrik" target="blank">
              <img src="" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <!-- students 14 -->
    </ul>
    <button class="modal-devs__close-btn" data-modal-close>close</button>
  </div>
</div>