<div class="container wrapper__pagination">
    <ul class="pagination">
        <!-- marcup for render js -->
    <li class="pagination__arrow-left"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.6666 8H3.33331" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7.99998 12.6666L3.33331 7.99998L7.99998 3.33331" stroke="black" stroke-width="1.33333"
            stroke-linecap="round" stroke-linejoin="round" />
    </svg></li>
    <li class="pagination__button pagination__button-end">1</li>
    <li class="pagination__points">...</li>
    <li class="pagination__button">13</li>
    <li class="pagination__button">14</li>
    <li class="pagination__button pagination__button-current">15</li>
    <li class="pagination__button">16</li>
    <li class="pagination__button">17</li>
    <li class="pagination__points">...</li>
    <li class="pagination__button pagination__button-end">20</li>
    <li class="pagination__arrow-right"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.33335 8H12.6667" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8.00002 12.6666L12.6667 7.99998L8.00002 3.33331" stroke="black" stroke-width="1.33333"
            stroke-linecap="round" stroke-linejoin="round" />
    </svg></li>
    </ul>
</div>