input[type = "checkbox"] {
  visibility: hidden;
  display: none;
  appearance: none;
  -webkit-appearance: none;
}
.container-checkbox  {
    display: flex;
    margin-left: auto;
}

label.container-label {
  margin-left: auto;
  display: block;
  width: 60px;
  height: 30px;
  background: #d3d3d3;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: 9px 9px 29px #969696,
             -9px -9px 29px #ffffff;
}

label.shadow {
  width: 50px;
  height: 20px;
  position: absolute;
  border-radius: 50px;
  left: 5px;
  top: 5px;
  box-shadow: inset 3px 3px 10px #969696,
              inset -3px -3px 5px #ffffffbd;
  cursor: pointer;
}

.container-label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffaa00;
  margin: 5px;
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.3s ease-in;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;

  @media screen and (max-width: 768px) {
    top: 0;
    min-width: 20px;
    max-height: 20px;
  }
  @media screen and (min-width: 1280px) {
    top: -19;
    min-width: 20px;
    max-height: 20px;
  }
}

.container-label span::after {
  position: absolute;
  top: 6px;
  left: 4px;
  transition-delay: 5s;
}

input[type = "checkbox"]:checked ~ span {
  left: 29px;
  transition: 0.3s ease-in;
  background: #0a100d;
  transform: rotate(220deg);
}
body {
  transition: background-color 0.3s ease;
  &.dark {
    background-color: #454545 ;
  }
}

.muvies__title--isDarkTheme {
  color: white;
}
.footer--Dark  {
    border-color: RGB
 153, 163, 164 ;
}