.footer {
  background-color: 
#F7F7F7;
  text-align: center;
  padding: 30px 0;
  margin-top: auto;

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color:  #545454;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__icon {
    padding-left: 10, 33;
  }


.footer {
  &__heart {
      position: relative;
      align-self: baseline;
      margin-left: 9px;
      margin-right: 9px;
    }
  
    &__heart:hover {
      fill: #ff001b;
    }
  
    &__heart-goit {
      width: 14px;
      height: 14px;
      width: 14px;
      fill: #ff6b08;
      animation: heartpulse 1.5s infinite ease-in-out;
    }
}

@keyframes heartpulse {
  0% {
    transform: scale(1);
    fill: #ff6b08;
  }

  10% {
    transform: scale(1.4);
    fill: #ff001b;
    filter: drop-shadow(0px 0px 10px #ff6b08);
  }

  50% {
    transform: scale(1);
    fill: #ff6b08;
  }

  100% {
    transform: scale(1.2);
    fill: #ff001b;
  }
}

.footer-students-btn {
  color: 
#545454;
  border: none;
text-decoration: underline;
  background-color: transparent;
    cursor: pointer;
padding-bottom: 2px;
font-size: 14px;
font-weight: 400;
line-height: 16px;
transition: all .25s cubic-bezier(.4,0,.2,1);
&:hover,
    &:active,
    &:focus {
      color: #000000;
      text-decoration: none;
    }
    #heart {
      width: 18px;
      height: 19px;
    }
  }

  .dark-theme .footer {
  background-color: black;
}

.dark-theme .footer-text {
  color: white;
}

.dark-theme .footer-students-link {
  color: currentColor;
}