.header-container {
  position: relative;
}

.header-lib-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 20px;
    top: 16px;
  }
  @media screen and (min-width: 1280px) {
    right: 32px;
    top: 16px;
    gap: 8px;
    justify-content: baseline;
    // .header-movi-btn:hover {
    //   top: 16px;
    // }
  }
}

.header-movi-btn {
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  border-radius: 100px;
  padding: 10px 24px;

  transition: transform 0.5s, box-shadow 0.25s, background-color 0.25s,
    color 0.25s;
  transform: translateY(0);
  box-shadow: none;
  &:hover,
  &:focus {
    background-color: var(--secondary-text-color);
    color: var(--akcent-text-color);
  }

  @media screen and (min-width: 768px) {
    padding: 12px 24px;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 24px;
  }
}

.header-movie-btn--active {
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  background-color: var(--secondary-text-color);
  color: var(--akcent-text-color);
  transform: translateY(-1px);
}
