.search-result-not-found {
    
    display: flex;
    
    width: 155px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 70px;
    }
    