
.backdrop {
  position: fixed;
  display: inline-block;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color:  rgba(0, 0, 0, 0.2);

  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 20;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.backdrop.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.naw-svg {
  fill: black;
}
.modal-team {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;

  width: 320px;
  height: 700px;

  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding: 30px;
    min-width: 700px;
    height: 700px;
    justify-content: center;
  }
}

.wrap-modal-team  {
display: block;
    @media screen and (max-width: 768px) {
     padding: 15px;
  }
  @media screen and (min-width: 768px) {
 display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:60px;
  padding: 10px;
  }
}

.modal-title-content {

    width: 253px;
    height: 50px;
 background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 89px;
    padding: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.modal-title-team {
  padding-bottom: 30px;
  color: 
#B92F2C;
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
}
.super-team {
  display: flex;
  align-items: center;
  margin: -20px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.unit:not(:last-child) {

    @media screen and (max-width: 768px) {
     margin-bottom: 30px;
  }
}
.unit {
    padding: 10px;
    height: auto;
    border-radius: 10px;
    border-radius: 1px solid ;

-webkit-box-shadow: 6px 3px 12px 5px rgba(0,0,0,.71);
-moz-box-shadow: 6px 3px 12px 5px rgba(0,0,0,.71);
transition: transform var(--animation);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
   backdrop-filter: blur(27px) brightness(1.42) contrast(44%) hue-rotate(6deg) invert(18%) opacity(96%) saturate(150%);
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 101, 176, 234, 0.26 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 120px) / 3);
  }
}

.wraper-img {
  position: relative;
  padding: 10px;
}

.unit-img {
  display: inline-block;

  width: 100%;

  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.unit-svg {
  position: absolute;

  right: 0;
  bottom: -20px;

  width: 35px;
  height: 35px;

  transition: all 0.5s ease 0s;

  &:hover {
    transform: scale(1.2);
  }

  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.unit-info {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4285;
  font-style: normal;

  color: #000;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4285;
  }
}
.role {
  color: #b92f2c;
}
.name {
  padding-top: 20px;
}

.lostil {
  display: none;
}
$basicLightbox__background: rgba(0, 0, 0, 0.2);
$basicLightbox__zIndex: 1000;
$basicLightbox__duration: 0.4s;
$basicLightbox__timing: ease;
.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $basicLightbox__background;
  opacity: 0.01;
  transition: opacity $basicLightbox__duration $basicLightbox__timing;
  z-index: $basicLightbox__zIndex;
  will-change: opacity;

  &--visible {
    opacity: 1;
  }

  &__placeholder {
    max-width: 100%;
    transform: scale(0.9);
    transition: transform $basicLightbox__duration $basicLightbox__timing;
    z-index: 1;
    will-change: transform;

    > img:first-child:last-child,
    > video:first-child:last-child,
    > iframe:first-child:last-child {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-width: 95%;
      max-height: 95%;
    }

    > video:first-child:last-child,
    > iframe:first-child:last-child {
      pointer-events: auto;
    }

    > img:first-child:last-child,
    > video:first-child:last-child {
      width: auto;
      height: auto;
    }
  }

  &--img &__placeholder,
  &--video &__placeholder,
  &--iframe &__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &--visible &__placeholder {
    transform: scale(1);
  }
}

$softorange: #F4A259;
$tomatored: #F25C66;
$mediumblu: #1E272D;


body{
  background-color: $mediumblu;
}

.close-container{
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label{
  color: white;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: $tomatored;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: $tomatored;
}
.close-container:hover label{
  opacity: 1;
}